<html xmlns:wicket>
<body>
<wicket:panel>

    <ul class="inline main-pager-counter">
        <li wicket:id="paging-from-row" class="pager-from badge"></li>
        <li>-</li>
        <li wicket:id="paging-to-row" class="pager-to badge" ></li>
    </ul>


    <ul class="pager main-pager">
        <li>
            <a href="#" wicket:id="paging-first" class="paging-a">First</a>
        </li>
        <li>
            <a href="#" wicket:id="paging-previous"  class="paging-a">Previous</a>
        </li>
        <li>
            <a href="#" wicket:id="paging-next" class="paging-a">Next</a>
        </li>
    </ul>

</wicket:panel>
</body>
</html>