<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>ps %d{HH:mm:ss} %-15t %-5p %-26.26c{1} - %m%n</pattern>
    </encoder>
  </appender>
<!--
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>target/output.log</file>
    <encoder>
      <pattern>ps %d{HH:mm:ss} %-15t %-5p %-26.26c{1} - %m%n</pattern>
    </encoder>
  </appender>
-->
  <logger name="com.payneteasy.srvlog.adapter" level="DEBUG"/>
  <logger name="com.payneteasy.srvlog" level="INFO"/>
  <logger name="com.payneteasy.srvlog.logsender" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="console"/>
    <!--<appender-ref ref="file"/>-->
  </root>
</configuration>