<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
  <div wicket:id="holder-container" class="btn-group flex items-center gap-2">
      <div wicket:id="button-groups" class="flex items-center">
          <a href="" wicket:id="button" class="px-3 py-1.5 rounded-lg text-sm font-medium bg-blue-100 text-blue-800 hover:bg-blue-200 transition-colors">
              <span wicket:id="button-name"></span>
          </a>
      </div>
  </div>
</wicket:panel>
</body>
</html>
