<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <table class="hex-viewer-panel">
        <tbody>
            <tr wicket:id="hex-viewer-lines">
                <td wicket:id="line-offset">Line offset</td>
                <td wicket:id="line-in-hex">Hex data</td>
                <td wicket:id="line-in-ascii">ASCII data</td>
            </tr>
        </tbody>
    </table>
</wicket:panel>
</body>
</html>