@import "bootstrap-responsive.min.css";
@import "bootstrap.min.css";

.main-input-append > input{
    height: 44px;
}

.main-table{
     font-size: 90%;
}
    .main-table > thead > tr{
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    }

.table tbody tr.main-emergency td{
    background-color: #ff3019;
    color: #ffffff;
}
    .table tbody tr.main-emergency:hover td{
        background-color: #e54739;
    }

.table tbody tr.main-critical td{
    background-color: #cc0000;
    color: #ffffff;
}

    .table tbody tr.main-critical:hover td{
        background-color: #bc1414;
    }

.main-filter-container select{
    vertical-align: top;
}
.main-filter-container select[multiple]{
    height: 145px;
}