<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<head>
    <title></title>
</head>
<body>
<wicket:panel>
    <div class="paging">

        <a href="#" wicket:id="paging-first" class="paging-a">First</a>
        <a href="#" wicket:id="paging-previous"  class="paging-a">Previous</a>

        <span class="paging-from-to">
            <strong wicket:id="paging-from" class="paging-from-to-char">41</strong>
            <span class="paging-from-to-char"> - </span>
            <strong href="#" wicket:id="paging-to" class="paging-from-to-char">60</strong>
        </span>

        <a href="#" wicket:id="paging-next" class="paging-a">Next</a>

    </div>
</wicket:panel>
</body>
</html>